/static/croppie/
/static/croppie/demo/
/static/croppie/test/
/static/croppie/index.html
/static/croppie/package-lock.json
/static/croppie/croppie.js
/static/croppie/deploy.js
/static/croppie/package.json
/static/croppie/README.md
/static/croppie/LICENSE
/static/croppie/bower.json
/static/croppie/croppie.css
/static/croppie/.gitignore
/static/croppie/.gitattributes
/static/croppie/.github/
/static/croppie/test/unit/stubs/
/static/croppie/test/unit/
/static/croppie/test/unit/mocha.opts
/static/croppie/demo/prism.js
/static/croppie/demo/hero.png
/static/croppie/demo/demo-3.jpg
/static/croppie/test/unit/Croppie.js
/static/croppie/demo/prism.css
/static/croppie/demo/demo-1.jpg
/static/croppie/demo/demo-2.jpg
/static/croppie/demo/demo.js
/static/croppie/demo/demo.css
/static/croppie/demo/cat.jpg
/static/croppie/.github/ISSUE_TEMPLATE.md
