.card-register {
    margin: 20px;
    width: 90%;
}

.navbar_margin {
    margin: 0;
}

.btn-group-vertical {
    background-color: #00BFFF;
}

.full_table {
    display: compact;
}

.table-user {
    padding: 20px;
    border: 1px solid grey;
}

td {
    border: 1px solid grey;
}

th {
    font-size: 20px;
    border: 1px solid grey;
}

.card-img-left {
    width: 50%;
    border-radius: 1px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

.card-img-right {
    width: 50%;
    border-radius: 1px;
    float: right;
    margin-right: 10px;
    margin-bottom: 10px;
}

.card-img-left-profile {
    width: 25%;
    border-radius: 1px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

.card-img-news {
    float: left;
    width: 25%;
    padding-right: 10px;
    border-radius: 5px;
}

.card {
    min-width: 100%;
    margin-bottom: 10px;
    padding: 0;
    border-radius: 15px;
}

.card-competition {
    margin-left: 15px;
    margin-right: 15px;
}

.show {
    display: block;
}

.hidden {
    display: none;
}

body, input {
    color: #555;
    font-size: 14px;
    font-family: Helvetica, Arial, sans-serif;
}

input, button {
    outline: none;
}

.break {
    flex-basis: 100%;
    height: 0;
}

.competitions_lst {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.top-bottom {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -100%);
}
.top-bottom-profile {
    position: absolute;
    top: 100%;
    left: 83%;
    transform: translate(0%, -100%);
}
.top-top {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

.navbar-back {
    background-color: #fff;
}

.card-img-top {
    border-radius: 2px;
    filter: brightness(70%);
}

.navbar-items {
    font-size: 20px;
    height: 100%;
}

p.single_comp {
    text-indent: 10px;
    padding-right: 5px;
    padding-left: 5px;
}

.card-color {
    color: blue;
    background-color: blue;
}

.card-display {
    display: inline-block;
    margin: auto;
}

div.card-new {
    width: 70%;
    float: left;
}

div.card-calendar {
    width: 28%;
    float: right;
}

.display-more-detailed {
    display: inline-block;
    margin: auto;
    width: 100%;
}

.file_detail {
    float: left;
}

.file_new_name {
    width: 100%;
}

.full {
    display: block;
}

.mobile {
    display: none;
}

.btn-mobile {
    width: 24%;
}
@media (orientation: portrait) {
    .card-img-news {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    div.card-new {
        width: 100%;
        padding: 5px 5px 20px 5px;
        float: none;
    }

    div.card-calendar {
        width: 93%;
        float: none;
        margin-left: 15px;
    }

    .file_new_name {
        width: 40%;
    }

    .full_table {
        display: none;
    }

    .full {
        display: none;
    }

    .mobile {
        display: block;
    }

    .btn-mobile {
        width: 100%;
    }

    .card-img-left-profile {
        float: none;
    }

    .comp_h1 {
        font-size: 24px;
    }

    .card-profile-text {
        text-align: center;
    }
}

.text-type-competition:hover {
    color: black;
    text-underline-color: black;
}

#child {
    display: inline-block;
    vertical-align: bottom;
    border: 1px solid blue;
}

.spacer {
    font-size: 72px;
}

.special_class_for_image {
    display: block;
    padding: 0;
    margin: 0;
}

nav::after {
    border-bottom: 1px solid blue;
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    bottom: 0;
    margin: 0 auto;
}