<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="stylesheet" crossorigin="anonymous"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2">
    <title> GusSport </title>
    <style>
        .custom-toggler.navbar-toggler {
            border-color: blue;
        }

        .custom-toggler .navbar-toggler-icon {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
        }

        .navbar-head {
            font-family: "Segoe script", sans-serif;
            font-weight: bold;
            color: #00f;
            align-items: center;
        }
    </style>
</head>
<body style="background-color: #f5f5f5">
<nav class="navbar navbar-expand-lg sticky-top navbar_margin bg-white">
    <a class="navbar-brand" href="/"><span class="navbar-head">Гусь-Спорт</span></a>
    <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">
            </span>
    </button>
    <div class="collapse navbar-collapse mr-auto" id="navbarSupportedContent">
        <a class="mr-auto"> </a>
        <p class="mt-1 mb-1">
            <a href="/competitions_type" class="btn mr-2">Cоревнования</a>
        </p>
        <!--<a href="https://vk.com/scbarro" class="btn btn-dark mr-2">Группа ВКонтакте</a>-->
        {% if current_user.role == "admin" %}
            <p class="mt-1 mb-1">
                <a href="/user_management" class="btn mr-2">Пользователи</a>
            </p>
            <p class="mt-1 mb-1">
                <a href="/create_competition" class="btn mr-2">Создание
                    соревнований</a>
            </p>
            <p class="mt-1 mb-1">
                <a class="btn  mr-1" href="/create_news">Добавить новость</a>
            </p>
        {% endif %}
        {% if not current_user.is_authenticated %}
            <p class="mt-1 mb-1">
                <a class="btn mr-1" href="/login" style="background-color: #c1caca;"> Войти </a>
            </p>
            <p class="mt-1 mb-1">
                <a class="btn" href="/register" style="background-color: #c1caca;"> Зарегистрироваться </a>
            </p>
        {% elif profile %}
            {% if current_user.notifications != None %}
            <p class="mt-1 mb-1">
                <a class="btn" style="color: #FF0000;" href="/notifications">Уведомления</a>
            </p>
            {% else %}
            <p class="mt-1 mb-1">
                <a class="btn" href="/notifications">Уведомления</a>
            </p>
            {% endif %}
            <a class="btn" style="background-color: #c1caca;" href="/logout">Выйти из учётной записи</a>
        {% else %}
            <a class="btn" href="/profile/{{ current_user.id }}" style="background-color: #c1caca;"> Личный кабинет </a>
        {% endif %}
    </div>
</nav>
<div>
    {% block content %}
    {% endblock %}
</div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" crossorigin="anonymous"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" crossorigin="anonymous"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" crossorigin="anonymous"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"></script>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<link href="{{ url_for('static', filename='kladr-jquery/jquery.fias.min.css') }}" rel="stylesheet" type=text/css>
<link href="{{ url_for('static', filename='kladr-jquery/examples/type/styles.css') }}" rel="stylesheet" type=text/css>

<script src="{{ url_for('static', filename='kladr-jquery/examples/lib/jquery-1.11.1.min.js') }}"
        type="text/javascript"></script>
<script src="{{ url_for('static', filename='kladr-jquery/jquery.fias.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='kladr-jquery/examples/type/script.js') }}" type="text/javascript"></script>
<script type="text/javascript" src="../static/js/script.js"></script>
</body>
</html>