{% extends "base.html" %}

{% block content %}
    <div class="container mt-4">
        {% for competition in competitions_list %}
            <div class="col-sm-6">
                <div class="card competitions_lst">
                    <img class="card-img-top" src='{{ competition.image }}'>
                    <div class="centered"><h1>{{ competition.name }}</h1></div>
                    <div class="top-top"><a class="btn btn-primary">{{ competition.event_date_start }}</a></div>
                    <div class="top-bottom"><a class="btn btn-primary">Подробнее</a></div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
