{% extends "base.html" %}

{% block content %}
    <div class="container mt-4">
        <div class="card" style="padding: 5px">
            <div class="row">
                {% for competition in failed_list %}
                    <div class="col-xl-6 col-lg-6 col-sm-12 col-xs-12">
                        <div class="card competitions_lst">
                            <img class="card-img-top" src='{{ competition.image }}'>
                            <div class="centered"><h1>{{ competition.name }}</h1></div>
                            <div class="top-top"><a class="btn btn-primary">{{ competition.event_date_start }}</a></div>
                            <div class="top-bottom"><a href="/competition/{{ competition.id }}" class="btn btn-primary">Подробнее</a>
                            </div>
                        </div>
                        {% if current_user.role == "admin" %}
                            <a class="btn btn-dark" href="/delete_competition/{{ competition.id }}">Удалить
                                соревнование</a>
                        {% endif %}
                    </div>
                {% endfor %}
                <div class="container">
                    <h3 align="center">Прошедшие соревнования</h3>
                    <table style="width: 100%">
                        {% for competition in past_list %}
                            <tr>
                                <td style="width: 33%">
                                    <h6>
                                        <b>
                                            <a href="/competition/{{ competition.id }}">
                                                {{ competition.name }}
                                            </a>
                                        </b>
                                    </h6>
                                </td>
                                <td style="width: 33%; text-align: center">
                                    <h6>
                                        <b>
                                            {{ competition.event_date_start }}
                                        </b>
                                    </h6>
                                </td>
                                <td style="width: 33%; text-align: center">
                                    <h6>
                                        <b>
                                            <a href="/result_competition/{{ competition.id }}">Протокол</a>
                                        </b>
                                    </h6>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
