{% extends "base.html" %}


{% block content %}
<div class="container; mt-4">
    <div class="card mb-4 card_register">
        <div class="card-title">
            <h1 align="center">Создание соревнования</h1>
        </div>
        <div class="card-body">
            <form action="" method="post">
                {{ form.hidden_tag() }}
                {{ form.csrf_token }}
                <p>
                    {{ form.name.label }}<br>
                    {{ form.name(class="form-control") }}
                </p>
                <p>
                    {{ form.type.label }}
                    {{ form.type(class="form-control") }}
                </p>
                <p>
                    {{ form.event_date_start.label }}
                    {{ form.event_date_start(type="date", class="form-control") }}
                    {% if date_error != "OK" %}
                        <a class="alert alert-danger" role="alert">{{ date_error }}</a>
                    {% endif %}
                </p>
                <p>
                    {{ form.event_time_start.label }}
                    {{ form.event_time_start(type="time", class="form-control") }}
                    {% if time_error != "OK" %}
                        <a class="alert alert-danger" role="alert">{{ time_error }}</a>
                    {% endif %}
                </p>
                <p>
                    {{ form.registration_start.label }}
                    {{ form.registration_start(type="date", class="form-control") }}
                    {% if date_error != "OK" %}
                        <a class="alert alert-danger" role="alert">{{ date_error }}</a>
                    {% endif %}
                </p>
                <p>
                    {{ form.registration_end.label }}
                    {{ form.registration_end(type="date", class="form-control") }}
                    {% if date_error != "OK" %}
                        <a class="alert alert-danger" role="alert">{{ date_error }}</a>
                    {% endif %}
                </p>
                <p>
                    {{ form.groups_count.label }} <br>
                    {{ form.groups_count(class="form-control") }} <br>
                </p>
                <p>{{ form.submit(type="submit", class="btn btn-outline-dark") }}</p>
            </form>
        </div>
    </div>
</div>
{% endblock %}