{% extends "base.html" %}

{% block content %}
    <div class="container mt-4">
        <div class="card-body">
            <div class="row">
                {% for new in news_list %}
                    <div>
                        <div class="card bg-light mb-4" style="border-radius: 10px;">
                            <img class="card-img-top" style="border-radius: 10px;" src='{{ new.image }}'>
                            <div class="card-body">
                                <h5 align="center" style="height: 35px;"
                                    class="card-title">{{ new.name }}</h5>
                                {% for content in new.content.split('\n') %}
                                    <p style="text-indent: 20px">{{ content }}</p>
                                {% endfor %}
                                {% if current_user.role == "admin" %}
                                    <a class="btn btn-dark" href="/delete_new/{{ new.id }}">Удалить новость</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}