{% extends "base.html" %}

{% block content %}
<div class="container">
    <img class="mobile" style="width: 100%" src='../static/images/other-image/start-image.jpg'>
    <img class="full" style="width: 100%" src='../static/images/other-image/start-image.jpg'>
</div>

<div class="container mt-4">
    <div class="row">
        <div class="card-display">
            <div class="card-calendar mr-3">
                <div class="card">
                    <div class="card-body">
                        <h3 align="center"> Календарь событий </h3>
                        <hr size=5px width=94% align="center"/>
                        {% for competition in competitions_list %}
                        <h6 align="center"><strong>{{ competition.event_date_start }}</strong></h6>
                        <h5 align="center"><a href="/competition/{{ competition.id }}"> {{ competition.name }} </a></h5>
                        <hr size=5px width=94% align="center"/>
                        {% endfor %}
                    </div>
                </div>
                <div align="center" class="full">
                    <a href="https://vk.com/scbarro" target="_blank"><img src='../static/images/other-image/vk.png'></a>
                    <a href="mailto: gussport@mail.ru" target="_blank"><img src='../static/images/other-image/mail.png'></a>
                </div>
            </div>
            {% for new in news_list[::-1] %}
            <div class="col-xl-12 col-lg-12 col-sm-12 col-xs-12">
                <div align="left" class="card card-new bg-white mb-4" style="border-radius: 10px;" id="parent">
                    <div style="height: 100%;" id="{{ loop.index }}">
                        <img class="card-img-news" id="newsimages" src='{{ new.image }}'>
                        <h5 style="text-align: center;" class="mt-2">{{ new.name }}</h5>
                        <p style="text-indent: 15px; padding: 5px">
                            {{ '\n'.join(new.content.strip().split('\n')[:2]) }}
                        </p>
                    </div>
                    <div class="display-more-detailed">
                        {% if new.files %}
                        {% for i in range(new.count_file) %}
                        <div class="file_detail ml-2 mb-1" align="left">
                            <a class="mobile ml-1"
                               href="/static/files/new{{ new.id }}/{{ new.file_name.split('%%')[i] }}.pdf"
                               target="_blank">{{ new.file_name.split('%%')[i][:17]}}...</a>
                            <a class="full" href="/static/files/new{{ new.id }}/{{ new.file_name.split('%%')[i] }}.pdf"
                               target="_blank">{{ new.file_name.split('%%')[i]}}.pdf</a>
                        </div>
                        {% if i != new.count_file - 1 %}
                        <br>
                        {% endif %}
                        {% endfor %}
                        {% endif %}
                        <div class="file_more_detail mr-1 mb-1" align="right">
                            <a href="/single_new/{{ new.id }}">Подробнее...</a>
                        </div>
                    </div>
                    {% if current_user.role == "admin" %}
                    <a class="btn btn-light" style="width: 24%;" href="/delete_new/{{ new.id }}">Удалить
                        Новость</a>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}