{% extends "base.html" %}

{% block content %}
    <div class="container mt-4">
        <div class="row">
            {% if no_notification %}
                <p>Уведомлений пока что нет</p>
            {% else %}
                {% for notification in notifications_list %}
                    <div class="col-xl-4 col-lg-6 col-sm-6 col-xs-12">
                        <div class="card">
                            {% if notification[0] == 0 %}
                                <p style="margin-top: 10px; margin-left: 23px;"><b>Вам предлагается вступить в
                                    команду: {{ notification[2] }}, для участия в
                                    соревновании
                                    <a href="/competition/{{ notification[1].id }}">{{ notification[1].name }}</a>.</b>
                                </p>
                                <p style="text-indent: 23px;">
                                    Состав команды (по этапам):
                                <ul>
                                    {% for user in notification[3] %}
                                        <li>{{ loop.index }}
                                            этап:<br>{{ user.surname }} {{ user.name }} {{ user.middle_name }}
                                        </li>
                                    {% endfor %}
                                </ul>
                                <div class="ml-4">
                                    <a class="btn btn-success" href="">Принять</a>
                                    <a class="btn btn-danger" href="">Отклонить</a>
                                </div>
                                </p>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}