{% extends "base.html" %}
{% block content %}
    <div class="container mt-4">
        <div class="card mb-4" style="width: 100%; border-radius: 10px;">
            <div class="card-title">
                <h1 align="center">Восстановление пароля</h1>
            </div>
            <div class="card-body">
                <form action="" method="post">
                    {{ form.hidden_tag() }}
                    {% if type == "email" %}
                        <p>
                            {{ form.email.label }}
                            {{ form.email(class="form-control", type="email") }}
                        </p>
                        <p>
                            {{ form.code.label }}
                            {{ form.code(class="form-control", type="login", disabled="disabled") }}
                        </p>
                    {% elif type == "code" %}
                         <p>
                            {{ form.email.label }}
                            {{ form.email(class="form-control", type="email", disabled="disabled") }}
                        </p>
                        <p>
                            {{ form.code.label }}
                            {{ form.code(class="form-control", type="login") }}
                        </p>
                    {% elif type == "password" %}
                        <p>
                            {{ form.new_password.label }}
                            {{ form.new_password(class="form-control", type="password") }}
                        </p>
                        <p>
                            {{ form.repeat_new_password.label }}
                            {{ form.repeat_new_password(class="form-control", type="password") }}
                        </p>
                    {% endif %}
                    <p>{{ form.submit(type="submit", class="btn btn-outline-dark") }}</p>
                    {% if message != "OK" %}
                        {{ message }}
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}
