{% extends "base.html" %}

{% block content %}
    <div class="container mt-4">
        <div class="card" style="border-radius: 10px;">
            <div class="border border-left border-right border-top border-bottom border-{{ colors }} border-rounded">
                <p style="font-size: 20pt; margin: 10px;">
                    <img class="img-fluid rounded-circle" src="{{ current_user.image }}" alt="" height="250"
                         width="250" align="left" style="margin-right: 20px;">
                    {{ current_user.name }} {{ current_user.surname }}<br>
                </p>
            </div>
        </div>
    </div>
    <div>
            {% if current_user.competitions == "" %}
                <h1> Вы еще нигде не участвовали </h1>
            {% else %}
                {% for competition in current_user.competitions %}
                    1
                {% endfor %}
            {% endif %}
    </div>
{% endblock %}