{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <div class="card" style="box-shadow: 0 6px 9px 2px rgba(0, 0, 0, 0.2)">
        <div class="border border-left border-right border-top border-bottom border-rounded">
            <p style="font-size: 20pt; margin: 10px;">
                <img class="card-img-left" src="{{ user.image }}">
                {{ user.name }} {{ user.surname }}<br>
            </p>
            <p>
                Дата рождения: {{ user.date_of_birth }} <br>
                Пол: {{ user.gender }} <br>
                {{ user.residence_type }}: {{ user.residence_name }}
            </p>
            {% if current_user and current_user.id == user.id %}
            <a href="/logout">Выйти из учётной записи</a>
            {% endif %}
        </div>
    </div>
</div>
<div class="container card mt-4">
    {% if flag == 0 %}
    {% if current_user and current_user.id == user.id %}
    <h3 align="center">
        Вы еще нигде не участвовали!
    </h3>
    {% else %}
    <h3 align="center">
        Пользователь еще нигде не участвовал!
    </h3>
    {% endif %}
    {% else %}
    <div class="card" style="padding: 10px;">
        <table style="width: 100%">
            <tr>
                <th>Название соревнования</th>
                <th>Отменить регистрацию</th>
            </tr>
            {% for competition in users_competition %}
            <tr>
                <td>{{ competition[0].name }}</td>
                <td>
                    <a href="/unregister/{{ competition[0].url }}/{{ user.id }}/{{ competition[1] }}">Отменить
                        регистрацию</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
    {% endif %}
</div>
{% endblock %}