{% extends "base.html" %}

{% block content %}
    <div class="container mt-4">
        <div class="card mb-4 card_register">
            <div class="card-title">
                <h1 align="center">Выберете группу</h1>
            </div>
            <div class="card-body">
                {% for group in group_list %}
                <a href="/register_to_competition/{{ name }}/{{ id }}/{{ loop.index }}">
                    <div style="background-color: #C0C0C0;">
                        <p>Возраст: {{group[0]}}: {{group[1]}}</p>
                        <p>Количество человек: {{group[2]}}</p>
                        <p>Дистанция: {{group[3]}}</p>
                    </div>
                </a>
                {% endfor %}
                <form action="" method="post" enctype="multipart/form-data">

                </form>
            </div>
        </div>
    </div>
{% endblock %}