{% extends "base.html" %}


{% block content %}
<div class="container mt-4">
    <div class="card card-new bg-white">
        <h3 align="center" class="mt-2"
            style="padding-right: 5px; padding-left: 5px;"> {{ competition.name }}</h3> <br>
        <span class="single_comp">
                        {% for text in competition.short_description.split('\n') %}
                            <p style="text-indent: 10px; padding-right: 5px; padding-left: 5px;"> {{ text }} </p>
                        {% endfor %}
                        </span>
        <span style="padding-right: 5px; padding-left: 5px;"><b>Тип
            соревнования:</b> {{ competition.type }}
        </span>
        <span style="padding-right: 5px; padding-left: 5px;"><b>Дата
            проведения: </b> {{ competition.event_date_start }} года
            в {{ competition.event_time_start }} </span>
        <span style="padding-right: 5px; padding-left: 5px;"><b>Начало регистрации на
            соревнования: </b> {{ competition.registration_start }} </span>
        <span style="padding-right: 5px; padding-left: 5px;"><b>Последний день
            регистрации: </b> {{ competition.registration_end }} </span>
        <br>
        <div class="pro_horizon">
            <table style="padding: 5px; width:100%">
                <tr>
                    <td><b>Категория</b></td>
                    {% for i in range(competition.groups_count) %}
                    <td>{{ groups_array[i][0].split()[0] }}<br>{{ groups_array[i][0].split()[1] }}
                        {{groups_array[i][0].split()[2][:-1] }}
                    </td>
                    {% endfor %}
                </tr>
                <tr>
                    <td><b>Дистанция</b></td>
                    {% for i in range(competition.groups_count) %}
                    <td>{{ groups_array[i][2][:-1] }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td><b>Кол-во человек<br>в группе</b></td>
                    {% for i in range(competition.groups_count) %}
                    <td>{{ groups_array[i][1] }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td><b>Время старта<br>группы</b></td>
                    {% for i in range(competition.groups_count) %}
                    <td>{{ groups_array[i][3][:-1] }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td><b>Оплата</b></td>
                    {% for i in range(competition.groups_count) %}
                    <td>{{ groups_array[i][4] }}</td>
                    {% endfor %}
                </tr>
            </table>
        </div>
    </div>
    <div class="card-button" style="box-shadow: 0 6px 9px 2px rgba(0, 0, 0, 0.2)">
        <a style="width: 100%; border: 1px solid black; border-radius: 0"
           href="/table_of_registered_users/{{ competition.url }}"
           class="btn bg-white">Список
            всех участников</a>
        <a style="width: 100%; border: 1px solid black; border-radius: 0" href="/{{ competition.file }}"
           class="btn bg-white"
           target="_blank">Положение соревнования</a>
        {% if result %}
        <a class="btn bg-white" style="border: 1px solid black; width: 100%; border-radius: 0" href="#">Результаты</a>
        {% else %}
        <a style="width: 100%; pointer-events: none; border: 1px solid grey; color: grey; border-radius: 0"
           class="btn bg-grey"
           disabled="disabled" href="#">Результаты</a>
        {% endif %}
        {% if current_user.is_authenticated %}
        <a style="width: 100%; border: 1px solid black; border-radius: 0" class="btn bg-white"
           href="/register_to_competition/{{ competition.url }}/{{ current_user.id }}/no/{{ competition.kol_vo_player }}">
            Зарегистрироваться на соревнование</a>
        {% else %}
        <a style="width: 100%; border: 1px solid black; border-radius: 0" class="btn bg-white" href="/not_authorized">
            Зарегистрироваться на соревнование</a>
        {% endif %}
    </div>
</div>
{% endblock %}