{% extends "base.html" %}


{% block content %}
    <div class="container mt-4">
        <div class="card mb-4">
            <div class="card-title">
                <h1 align="center">Все пользователи</h1>
            </div>
            <table class="table-user" style="width: 100%">
                <tr>
                    <th>Имя</th>
                    <th>Фамилия</th>
                    <th>Отчество</th>
                    <th>Роль</th>
                </tr>
                {% for user in table %}
                    <tr>
                        <td>{{ user[2] }}</td>
                        <td>{{ user[1] }}</td>
                        <td>{{ user[3] }}</td>
                        {% if user[7] == "user" %}
                            <td>
                                <a style="width: 100%" href="/redefine_role/admin/{{ user[0] }}" class="btn btn-light">User</a>
                            </td>
                        {% else %}
                            <td>
                                <a style="width: 100%" href="/redefine_role/user/{{ user[0] }}" class="btn btn-light">Admin</a>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}